[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Dj Turntable
Exec=/opt/usr/bin/turntable
Icon=/usr/share/icons/hicolor/80x80/apps/turntable.png
StartupWMClass=
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

