Source: turntable
Section: user/games
Priority: extra
Maintainer: Forum Nokia <FN.Documentation@nokia.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: turntable
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt Quick audio example
 QML example
