[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Dj Turntable
Exec=/usr/bin/turntable
Icon=turntable
StartupWMClass=
X-Window-Icon=turntable
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

